
    <div class="page-header container">
        
        <div class="row">
            <div class="col-md-4" style="text-align: center;">
                <img ng-src="http://image.tmdb.org/t/p/w500{{post.CharacterImage}}" src="//placehold.it/100" style="width:100px;height:100px" class="img-circle">
                <div style="margin-top: 10px;"><small><div style="color:  #00bcd4;">{{post.Character}}</div> <div>in</div>{{post.TVSeries}}</small></div>
                
            </div>            
            <div class="col-md-5">
                <h1 style="">{{post.Title}}</h1>              
            </div>
            <div class="col-md-3">
                <div style=" text-align: right;"><h3 style="color:  #00bcd4;">{{post.User.Name}}</h3> on  {{post.DatePosted | date : 'shortDate'}}</div> 
            </div>

        </div>
        <div ng-bind-html="post.Content" style="text-align: left; margin-top: 20px;"></div>
                <br />
                <hr />
                <div ng-if="!isAuthenticated">
                    Please Login to comment <a href="#/login">here</a>
                </div>
                <div class="well" ng-if="isAuthenticated" style="background-color: #93C9FF; height: 180px; ">
                    <h5>Leave a Comment:</h3>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" ng-model="comment.Content"></textarea>
                        </div>
                        <button type="submit" ng-click="postComment();" class="btn btn-primary" >Submit</button>
                    </form>
                </div>
                <hr>

                <div class="media" ng-repeat="comment in post.Comments">
                    <a class="pull-left">
                        <ng-letter-avatar data="{{comment.User.Name}}"></ng-letter-avatar>

                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{comment.User.Name}}
                            <small>{{comment.DatePosted | date: 'medium'}}</small>
                        </h4>
                        {{comment.Content}}
                    </div>
                </div>
    </div>





